---
layout: base
eleventyNavigation:
  key: Home
  order: 1
---

<h1 class="text-3xl font-bold mb-10">Latest 3 Articles</h1>

{% set articleslist = collections.articles | head(-3) %}
{% set articleslistCounter = collections.articles | length %}
{% include "articleslist.njk" %}

<p>More articles can be found in <a class="text-bold underline hover:text-gray-700" href="{{ '/articles/' | url }}">the archive</a>.</p>
